body {margin: 0;}
#header {display: inline-flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
position:fixed;
width:100%;
background-color: white;
padding-top: 0px;margin-top: 0px;
border-bottom: black 1px solid;align-items:center;}
#header a{color:black;}
#header #nav {padding-right: 40px}
#header #nav a {margin-right:.5rem;}
#header a:last-of-type {margin-right:0;}
nav span {display: inline-block;}
#logo{padding-left:30px;
  display: flex; align-items: center;}
.logo {color:MediumAquamarine;
      margin-left:1rem;}
/* div {border:black 1px solid;} */
#main {display: flex;padding-top: 100px;
      justify-content: center;
      margin:0 auto;
      padding-bottom:4rem;
      }
.column.large {
  width: 630px;display: flex; flex-direction: column;
    margin-right:2rem;
}

.column.medium {
  width: 300px;display: flex; flex-direction: column;
  margin-right:2rem;
}

.column.small {
  width: 240px;display: flex; flex-direction: column;
}
#mainpic {background-image: url("main.png");background-size: auto;height:300px;display:flex;
  align-items: center;}
#fall {background-image: url("fall.png");}

#hipster {background-image: url("hipster.png");}
#cat {background-image: url("cat.png");}
#cat,#fall, #hipster{height:300px;display: flex;
              background-size: cover;
              align-items: center; justify-content: center;text-align: center;
              background-repeat: no-repeat;}
section {display:flex;}
.storyH {  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;}

.story { font-family: Georgia;
  font-size: 17px;
  color: black;}

#bites, #orca, #burger {display:flex; flex-direction: column;}
#bites {align-items: center;}
#bites h3 {text-align: center;}
#bites ul {list-style: none;}
.bite {   display:block;
            background-color:whitesmoke;
            padding:11px 20px;
            border-bottom: 1px black solid;
            font-size: 12px;}
#orca {margin-right:1rem;}
#mainStory { font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: center;}
  #about {

    font-family: Verdana;
    font-size: 12px;

    display:flex;
    align-items: center;


  }
  footer {  height:300px;  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  background-color: MediumAquamarine;}
  #about nav ul {list-style: none;}
  #about nav ul li {display:inline;margin-right: .5rem;}


  #mT1 {margin-right:1rem;}
  #mT { font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
